/* shared styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* header section styles */
.header {
    background-image: url('./assets/banner/banner3.png');
    height: 100vh;
    text-align: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-sec {
    width: 525px;
    padding: 210px 210px 0px 780px;
    color: #FFF;
}

.header-title {
    font-size: 65px;
    font-weight: 700;
    position: sticky;
}

.header-desc {
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0px 30px 30px;
}

.btn {
    width: 160px;
    height: 64px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

/* previous year styles */
.previous-year {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    margin: 140px 320px 140px 220px;
}

.previous-year-img {
    width: 560px;
    height: 660px;
}

.previous-year-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.previous-year-desc {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0px;
}

.previous-year-info li {
    list-style: none;
}

.li-check {
    margin-right: 10px;
    color: #16D887;
}

/* my plans section styles */
.my-plans-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.my-plans {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    padding-top: 53px;
}

.skill {
    text-align: center;
}

/* banner section styles */
.banner {
    /* background-image:linear-gradient(90deg, #005FAC, rgba(0, 95, 172, 0.00)), url('./assets/watch.png') ; */
    background-image: url(./assets/gradient1.png), url('./assets/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    border-radius: 5px;
    height: 280px;
    margin: 130px 230px;
}

.banner-title {
    color: #FFF;
    font-size: 40px;
    width: 459px;
    font-weight: 700;
    padding: 60px 0px 24px 60px;
}

.call-btn {
    width: 160px;
    height: 64px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    margin-left: 60px;
    border-radius: 5px;
    border: none;
}

/* footer section styles */
.footer {
    background-color: black;
    height: 257px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 130px 230px;
    color: #FFF;
}

.footer-sec {
    margin-right: 350px;
}

.footer-title {
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
}

.footer-desc {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0px;
}

.footer-phone {
    margin: 15px 0px;
}

.social-icon {
    padding: 10px 10px 10px 0;
}

.footer-subscribe {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

.footer-email {
    margin: 30px 0px 15px 0px;
    padding: 10px;
    width: 220px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background-color: black;
}

.subscribe-btn{
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background: #005FAC;
    border-radius: 5px;
    border: none;
    color: #FFF;
}